[submodule "OCA/geospatial"]
	path = OCA/geospatial
	url = git@github.com:OCA/geospatial.git
	branch = 10.0

[submodule "OCA/product-attribute"]
	path = OCA/product-attribute
	url = git@github.com:OCA/product-attribute.git
	branch = 10.0
